@-webkit-keyframes ripple {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes ripple {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.ripple {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(67, 30, 155, 0.205);
  position: relative;
}

.ripple:before {
  content: '';
  position: absolute;
  border: rgba(67, 30, 155, 0.205) solid 6px;
  border-radius: 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.ripple:hover:before,
.ripple:focus:before,
.ripple:active:before {
  -webkit-animation-name: ripple;
  animation-name: ripple;
  animation-fill-mode: forwards;
}
